<aside class="large-3 columns">
  <ul class="side-nav">
      <li><h1><%= @user.name %></h1></li>
      <li> <%= gravatar_for(@user)%> </li>
      <li><b>Name:</b> <%= @user.name %></li>
      <li><b>Email:</b> <%= @user.email %></li>
  </ul>

  <div class="panel">
    <h5>User Stats</h5>
    <strong>Deals: <%= @user.owned_deals.count %></strong><br>
    <strong>Committed: <%= @user.deals.count %>
  </div>
</aside>
