<div class="deal-show">
  <div class="row">
    <div class="large-12 columns profile-page">
      <h1><%= @user.name %></h1>

      <%= render 'form_profile' %>

      <div class="large-9 columns">
        <div class="panel">
        <h3><%= @user.deals.count %> deals committed to:</h3>
          <% unless @user.deals.empty? %>
          <ul>
          <% @user.deals.each do |deal| %>
            <li><%= link_to deal.title, deal %></li>
          <% end %>
          </ul>
        <% end %>

        <h3>Deals <%= @user.name %> created: </h3>
          <% if @user.owned_deals.empty? %>
            <p>No sponsored deals.</p>
          <% else %>
            <ul>
            <% @user.owned_deals.each do |deal| %>
              <li><%= link_to deal.title, deal %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
