<div class="deal-show">
  <div class="row">
    <div class="large-12 columns profile-page">

      <%= render 'profile' %>

      <div class="large-5 columns">
        <div class="panel">
          <h1>Posted Deals</h1>
            <% if @deals %>
              <% @deals.each do |deal| %>
                <% unless !deal.published? && current_user != deal.owner %>
                  <p><%= link_to deal.title, deal %></p>
                <% end %>
              <% end %>
            <% else %>
              Nothing here
            <% end %>
            <%= will_paginate @deals %>
          </div>
        </div>

        <div class="large-5 columns">
          <div class="panel">
            <h1>Committed Deals</h1>
              <% if @committed %>
                <% @committed.uniq.each do |deal| %>
                  <p><%= link_to deal.title, deal %></p>
                <% end %>
              <% else %>
                Nothing here
              <% end %>
              <%= will_paginate @committed %>
            </div>
          </div>

      </div>
    </div>
  </div>
