<h1><%= @user.name %></h1>

<%= render 'form_profile' %>

<div class= "large-9 columns">
  <div class= "large-6 columns">
    <h3>Commited to (deals)</h3>
    <% if @user.deals.empty? %>
      <p>No deal commitments.</p>
    <% else %>
      <table class="large-6 columns">
        <thead>
          <tr class="large-6 columns">
            <th>Title</th>
            <th>Description</th>
            <th>Goal</th>
            <th>Location</th>
            <th>Ends</th>
            <th>Progress</th>
          </tr>
        </thead>

        <tbody>
            <% @user.deals.each do |deal| %>
              <tr class="large-6 columns">
                <td><%= link_to deal.title, deal %></td>
                <td><%= deal.description %></td>
                <td><%= deal.goal %></td>
                <td><%= deal.location %></td>
                <td><%= deal.end %></td>
                <td><%= deal.commitments.count %> / <%=deal.amount %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    <% end %>

    <h3>Deals <%= @user.name %> created: </h3>

    <% if @user.owned_deals.empty? %>
      <p>No sponsored deals.</p>
    <% else %>
      <table class="large-6 columns">
        <thead>
          <tr class="row">
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
            <th>Goal</th>
            <th>Location</th>
            <th>Start</th>
            <th>End</th>
            <th>Published</th>
            <th>Private</th>
            <th>Amount</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
            <% @user.owned_deals.each do |deal| %>
              <tr class="row">
                <td><%= link_to deal.title, deal %></td>
                <td><%= "#{deal.image.url}" %></td>
                <td><%= deal.description %></td>
                <td><%= deal.goal %></td>
                <td><%= deal.location %></td>
                <td><%= deal.start %></td>
                <td><%= deal.end %></td>
                <td><%= deal.published %></td>
                <td><%= deal.private %></td>
                <td><%= deal.amount %></td>
                <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
                <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% end %>
  </div>
</div>
