<%= form_for(@deal, html: { multipart: true }) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, '*Title' %>
    (60 characters max)
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <div class="field">
    <%= f.label :description, '*Description' %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :goal, '*Goal' %>
    How many commitments do you need to tip this deal?
    <%= f.number_field :goal %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start, '*Deal Start Date' %>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end, '*Deal End Date (30 day default)' %>
    <%= f.date_select :end, :default => 30.days.from_now %>
  </div>
  <div class="field">
    <%= f.label :private, 'Private?'%>
    Private deals can be shared but are not searchable or listed on the index.
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.label :amount, '*Amount' %>
    Dollar amount required for each commitment
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :published, 'Published?' %>
    Click here only when you are ready to publish. Published deals will be available to support immediately. To preview your deal, click below with this box unchecked. Deals cannot be unpublished!
    <%= f.check_box :published %>
  </div>

  <div class="actions">
    <%= f.submit "Preview / Publish", class: "button comment-button" %>
  </div>
  <p>* Required fields</p>
<% end %>
