  <div class="billboard">
    <div class="text-container">
    </div>
    <h1>
      Dream it. Share it. Fund it.
      <p>Harness the power of crowdsourcing to turn your dreams into reality.</p>
    </h1>
    <% if !user_signed_in? %>
      <%= link_to "Sign Up for Free!", new_user_registration_path, class: "button large sign-up-btn" %>
    <% else %>
      <p class="welcome">Welcome back, <%= current_user.name %>!</p>
    <% end %>
  </div>

  <div id="flags" class="row">
    <div class="large-9 columns">
      <% if current_user %>
        <% if current_user.admin? && Deal.where(flag: true).count > 0 %>
          <h3>Admin Alert:</h3>
          <%= render 'deals/flags' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row deal-boxes">
    <h4 class="sub-title">Recent Deals</h4>
    <% @deals.each do |deal| %>
      <% if deal.active? %>
        <div class="large-4 medium-5 small-6-centered columns boxes">
          <% if deal.image? %>
            <div class="image-box">
              <%= image_tag(deal.image.url, id: 'deal-image') %>
            </div>
          <% else %>
            <img src="http://placehold.it/320x200">
          <% end %>
          <div class="deal-details">
            <h4><%= link_to deal.title, deal %></h4>
            <%= shorten(deal.description) %>...<br>
            <h5><%= deal.users.count %> Committed!</h5>

            <div id="progress-bar">
              <span class="so-far" style="width: <%= deal.progress %>px">
              </span>
            </div>

          <span class="location"><%= deal.location %> /
            <% if deal.funded? %>
              Funded!
            <% else %>
              <%= time_ago_in_words(deal.end) %> left</span>
            <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
