<% if current_user %>
  <% if current_user.admin? && Deal.where(flag: true).count > 0 %>
    <%= render 'deals/flags' %>
  <% end %>
<% end %>

<h1>Listing Deals</h1>

  <h2> Active Deals </h2>
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Description</th>
      <th>Goal</th>
      <th>Location</th>
      <th>End</th>
      <th>Amount</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <% if deal.active? && !deal.funded? %>
      <tr>
        <td><%= link_to deal.title, deal %></td>
        <td><%= image_tag(deal.image.url, id: 'deal-image') if deal.image? %></td>
        <td><%= shorten(deal.description) %>...</td>
        <td><%= deal.goal %></td>
        <td><%= deal.location %></td>
        <td><%= deal.end %></td>
        <td>$<%= deal.amount %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>

  <br>

  <h2> Recently Closed Deals </h2>
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Description</th>
      <th>Goal</th>
      <th>Location</th>
      <th>Ended</th>
      <th>Amount</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <% if deal.archived? || deal.funded? %>
      <tr>
        <td><%= link_to deal.title, deal %></td>
        <td><%= image_tag(deal.image.url, id: 'deal-image') if deal.image? %></td>
        <td><%= shorten(deal.description) %></td>
        <td><%= deal.goal %></td>
        <td><%= deal.location %></td>
        <td><%= deal.end %></td>
        <td><%= deal.amount %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
