<% if !@deal.published %>
<h1>This Deal is Not Yet Published! Review your deal and click "edit" to make any changes and publish. Deals cannot be changed after publication, except by an admin.</h1>
<% end %>

<div class="control">
  <% if policy(@deal).owner? && !@deal.published || policy(@deal).is_admin? %>
    <p><%= link_to 'Edit', edit_deal_path(@deal) %></p>
    <p><%= link_to 'Destroy', @deal, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div>

<div class="owner-actions">
  <% if policy(@deal).owner? %>
    <p><%= link_to 'Update', new_deal_update_path(@deal, @update) %></p>
    <% if @deal.users.count > 0 %>
      <p>Contact users who have committed to this deal:</p>
      <% @deal.users.each do |user| %>
        <%= link_to user.email, user_show_path(user.id) %>
      <% end %>
    <% end %>
  <% end %>
</div>

<p>
  <strong>Deal Posted By:</strong>
  <%= link_to @deal.owner.name, user_show_path(@deal.owner_id) %>
  <%= image_tag @deal.owner.gravatar_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <%= image_tag(@deal.image.url, id: 'deal-image') if @deal.image? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<p>
  <strong>Commitments Needed:</strong>
  <%= @deal.goal %>
</p>

<p>
  <strong>Progress to Goal:</strong>
  <%= @deal.funded? ? "Funded!" : "#{@deal.users.count} out of #{@deal.goal}" %>

<p>
  <strong>Location:</strong>
  <%= @deal.location %>
</p>

<p>
  <strong>Start:</strong>
  <%= @deal.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @deal.end %>
</p>

<p>
  <strong>Published:</strong>
  <%= @deal.published %>
</p>

<p>
  <strong>Private:</strong>
  <%= @deal.private %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deal.amount %>
</p>

<p>
  <strong>Updates:</strong>
  <% @deal.updates.each do |update| %>
    <p>
      <strong>Updated <%= time_ago_in_words(update.created_at) %> ago</strong><br>
      <%= update.content %><br>
      <% if policy(update).owner? || policy(@deal).is_admin? %>
        <%= link_to "Edit", edit_deal_update_path(@deal, update) %> |
        <%= link_to "Destroy", [@deal, update], method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </p>
  <% end %>
</p>

<p>
  <strong>Committers</strong>:
  <% @deal.users.each do |user| %>
    <p><%= user.name %></p>
  <% end %>
</p>

<p>
  <%= link_to "Commit!", deal_confirmation_path(@deal) unless @deal.funded? || !@deal.active? %>
</p>

<%= social_share_button_tag(@deal.title) %>

<%= render partial: 'comments/form', deal: @deal %>

<h2>Comments:</h2>

<% @deal.comments.each do |comment| %>
  <p><strong><%= comment.user.name %></strong><br>
    Created <%= time_ago_in_words(comment.created_at) %> ago<br>
    <%= comment.body %><br>
    <%= link_to "Edit", edit_deal_comment_path(@deal, comment) %>
  </p>
<% end %>
