<div class="deal-show">
<div class="row">
    <div id="draft-warning">
      <% if !@deal.published %>
        <h1>This Deal is Not Yet Published! Review your deal and click "edit" to make any changes and publish. Deals cannot be changed after publication, except by an admin (or deal owner can post an update).</h1>
      <% end %>
    </div>

    <div id="control" class="row">
      <div class="large-9 columns">
        <div id="edit-options">
        <% if policy(@deal).owner? && !@deal.published || policy(@deal).is_admin? %>
          <%= link_to 'Edit Deal', edit_deal_path(@deal), class: "button ed-button" %> &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Destroy Deal', @deal, class: "button ed-button",method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      </div>
    </div>

  <% if @deal.image? %>
    <div class="large-6 columns deal-large-image">
      <%= image_tag(@deal.image.url, id: 'deal-image') if @deal.image? %><br>
    </div>
  <% else %>
    <div class="large-6 columns">
      <img src="http://placehold.it/500x300">
    </div>
  <% end %>
  <div class="large-6 columns">
    <div class="panel">
      <h4>
        <%= @deal.title %><br>
        <%= link_to @deal.owner.name, @deal.owner, class: "deal-owner-name" %>
        <hr/>
      </h4>
      <p>Commitments Needed:
      <%= @deal.goal %> at $<%= @deal.amount %></p>
    <% if !@deal.funded? && @deal.active? %>
      <%= link_to "Commit!", deal_confirmation_path(@deal), class: "button expand deal-button" %>
    <% else %>
      <p>This deal has ended! Find another</p>
    <% end %>
      <h4>Progress to Goal:</h4>
      <%= @deal.funded? ? "Funded!" : "#{@deal.users.count} out of #{@deal.goal}" %>

        <div id="graph" data-goal="<%= @deal.goal %>" data-users="<%= @deal.users.count %>">
        </div>

        <p class="location-time">
          <%= @deal.location %> /
          <% if @deal.active? %>
            <%= time_ago_in_words(@deal.end) %> left
          <% else %>
            Closed
          <% end %>
        </p>
      </div>
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">
    <div class="panel">
      <h4>
        Description
        <hr/>
      </h4>
      <h5 class="subheader"><%= @deal.description %></h5>
      <%= social_share_button_tag(@deal.title) %>
      <%= link_to "Flag this deal for admin review", flag_deal_path(@deal), method: :patch %>
    </div>
  </div>
</div>

  <div class="row">
    <div class="large-6 small-6 columns">
      <%= render partial: 'comments/form', deal: @deal %>
    </div>
    <div class="large-6 small-6 columns">
    <div class="panel">
      <h4>Updates</h4>
      <h6 class="subheader">
        <% @deal.updates.each do |update| %>
            <p>
              <strong>Updated <%= time_ago_in_words(update.created_at) %> ago</strong><br>
              <%= update.content %><br>
              <% if policy(update).owner? || policy(@deal).is_admin? %>
                <%= link_to "Edit", edit_deal_update_path(@deal, update) %> |
                <%= link_to "Destroy", [@deal, update], method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </p>
          <% end %>
        </h6>
        <div id="owner-actions">
        <% if policy(@deal).owner? %>
          <%= link_to 'Post Update', new_deal_update_path(@deal, @update), class: "button deal-button" %>
        <% end %>
      </div>
    </div>
    </div>
  </div>

  <% if !@deal.users.empty? %>
    <div class="row">
      <div class="large-12 columns backers">
      <h4>Backers</h4>

      <% @backers.each do |user| %>
        <div class="large-2 small-2 columns text-center">
          <%= link_to (image_tag user.gravatar_url), user %><br>
          <strong><%= link_to user.name, user %></strong>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>

    <% if @deal.private %>
      <strong>This deal has been flagged as private. Only visitors with the link can access it. Please share with caution.</strong>
    <% end %>
    <br>
    <br>

  </div>

<div id="comments" class="row">
  <div class="large-12 columns">
<hr>
<h4>Comments:</h4>

<% if !@deal.comments.empty? %>
  <% @deal.comments.each do |comment| %>
  <div class="panel">
    <p><strong><%= link_to comment.user.name, comment.user %></strong><br>
      <strong>Created <%= time_ago_in_words(comment.created_at) %> ago</strong><br>
      <%= comment.body %><br>
      <%= link_to "Edit", edit_deal_comment_path(@deal, comment) %>
    </p>
  </div>
  <% end %>
<% else %>
  No Comments
<% end %>
</div>
</div>
</div>

<div id="control" class="row">
  <div class="large-9 columns">
    <div id="edit-options">
    <% if policy(@deal).owner? && !@deal.published || policy(@deal).is_admin? %>
      <%= link_to 'Edit Deal', edit_deal_path(@deal), class: "button ed-button" %> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Destroy Deal', @deal, class: "button ed-button",method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
  </div>
</div>
