<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <!-- Title -->
    <ul class="title-area">
      <li class="name"><h1><%= link_to "UFundIt", root_path %></h1></li>

      <!-- Mobile Menu Toggle -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <!-- Top Bar Section -->
    <section class="top-bar-section">

      <!-- Top Bar Left Nav Elements -->
      <ul class="left">

        <!-- Search | has-form wrapper -->
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <%= form_tag deals_path, :method => 'get' do %>
                  <%= text_field_tag :search, params[:search], :placehoder => 'Search items here' %>
            </div>
            <div class="large-4 small-3 columns">
              <%= submit_tag "Search", :name => nil, class: "button search" %>
            </div>
            <% end %>
          </div>
        </li>
        <li class="divider"></li>
        <li style="background: transparent">
          <%= link_to "About Us", pages_about_path %>
        </li>
        <li class="divider"></li>
      </ul>

      <!-- Top Bar Right Nav Elements -->
      <ul class="right">
        <!-- Divider -->
        <li class="divider"></li>
        <li style="background: transparent">
          <%= link_to "New Deal", new_deal_path %>
        </li>
        <li class="divider"></li>

        <!-- Anchor -->
        <% if current_user && user_signed_in? %>
          <li style="background: transparent">
            <%= link_to 'My Profile', current_user %>
          </li>
          <li class="divider"></li>
          <li style="background: transparent">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li style="background: transparent">
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
          <li class="divider"></li>
          <li style="background: transparent">
            <%= link_to 'Log In', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
