<nav>
  <h1><%= link_to 'Demand7', root_path %></h1>

  <% if user_signed_in? %>
    <p><strong>Good to see you, <%= current_user.name %></strong></p>

    <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
    <p><%= link_to 'Profile', user_show_path(current_user) %></p>
  <% else %>
    <p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></p>
    <p><%= link_to 'Sign up', new_user_registration_path %></p>
    <p><%= link_to 'Log in', new_user_session_path %></p>
  <% end %>

  <%= form_tag deals_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :placehoder => 'Search items here' %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</nav>
