<!DOCTYPE html>
<html>
<head>
  <title>Demand7</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>

<!-- greeting & image: -->
<p>Good to see you, <%= current_user.name %></p>
<%= image_tag current_user.gravatar_url %>
